@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  background-color: #282C33;
  color: white;
  font-family: Fira Code;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../public/images/group-2.svg);
}

#container {
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#container h1 {
  font-size: 50px;
}

#container h1 span {
  color: #96EB95;
}

#container form {
  display: flex;
  align-items: flex-end;
}

#container form div {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

#container form input {
  width: 171px;
  height: 48px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.10);
  border: 0;
  padding-left: 10px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

#container form button {
  width: 171px;
  height: 48px;
  border-radius: 10px;
  border: none;
  background: #96EB95;
  font-size: 20px;
  font-family: Fira Code;
  font-weight: 800;
  color: #373737;
  line-height: normal;
  cursor: pointer;
  margin-left: 20px;
}

#container form button:hover {
  background: #78bb77;
}

#section-currency {
  margin-top: 20px;
  width: 100%;
  height: 80%;
  max-height: 80%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
}

#container-currency {
  scrollbar-width: thin;
  scrollbar-color: rgb(53, 55, 63) rgb(0, 0, 0);
  max-height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-cur {
  padding: 0 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.20);
  height:35px;
  width: 150px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFE713;
}

.container-coin {
  display: flex;
  align-items: center;
  color: white;
}

.container-coin div {
  width: 14px;
  height: 14px;
  background-image: url(../public/images/coins-svgrepo-com-1.png);
  background-repeat: no-repeat;
  padding-left: 5px;
}

#container-currency::-webkit-scrollbar {
  width: 12px;
}

#container-currency::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.473);
  border-radius: 40px;
}

#container-currency::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.80);
  border-radius: 40px;
  border: 0;
}
